.comprado {
  text-decoration: line-through;
  color: #777;
}

.container {
  border: solid 2px #4A90E2;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%; 
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #F9F9F9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.botaoadicionar {
  display: block;
  margin: 10px auto;
  background-color: #5DD39E;
  color: white;
  border-radius: 10px;
  border: 0;
  width: 100%;
  max-width: 100px;
  height: 40px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botaoadicionar:hover {
  background-color: #4CAF50;
}

input {
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  height: 35px;
  border: 2px solid #4A90E2;
  padding: 5px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.button {
  margin: 5px;
  background-color: #FF6F61;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 100px;
  height: 40px;
  border: 0;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #FF4C4F;
}

span {
  border: solid 2px #4A90E2;
  border-radius: 10px;
  display: inline-block;
  width: 170px;
  height: 29px;
  text-align: center;
  line-height: 25px;
  font-family: Arial, sans-serif;
  background-color: #E0F7FA;
}

h2, h3, h4 {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 39px;
}

ul{
  list-style: none;
}

.divbotoes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 38px;
}



@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  .botaoadicionar,
  .button,
  input,
  span {
      max-width: 90%;
  }

  .botaoadicionar {
      height: 35px;
  }

  .button {
      height: 35px;
  }
}

@media (max-width: 480px) {
  .botaoadicionar,
  .button,
  input {
      height: 30px;
  }

  span {
      height: 20px;
      line-height: 20px;
  }
}
